body {
    background: #f2f4f6;
    background: #C9DC50;
    font-family: "Roboto", sans-serif;
}

.mobile-sticky .page-main {
    margin-top: 0;
}

.breadcrumbs {
    display: none;
}

.page-main {
    padding: 0;
    max-width: 100%;
}

.breadcrumbs {
    display: none !important;
}

.landing-page {
    padding-top: 100px;
}

.brand {

    font-family: "Roboto", sans-serif;

    .no-padding {
        padding: 0;
    }

    .banner {
        position: relative;
        min-height: 440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        padding-top: 12vw;
        padding-bottom: 12vw;

        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            color: white;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            color: white;
        }

        img {
            margin-bottom: 10px;
        }

        .btn {
            font-size: 16px;
            font-weight: 600 !important;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 5px;
            color: #fff;
            margin-right: 15px;
            transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
            margin-top: 20px;
            display: inline-block;
            border: solid 2px #48b784;
            background-color: #48b784;
            padding: 0.3em 1em;

            &:hover {
                background: #1a2053;
                border: solid 2px #1a2053;
            }
        }
    }

    .grid-container.three {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-container.four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-container {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;

        a.shop-btn {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            color: #FFF;
            background: #86949f;
            border-top: solid 1px #EEE;
            text-align: center;
            padding: 11px 15px 9px 15px !important;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all 0.2s linear;
            &:hover {
                background: #005392;
                transition: all 0.2s linear;
            }
        }

        .grid-item {

            position: relative;
            background: #FFFFFF !important;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            padding-bottom: 40px;
            border-radius: 5px;

            :not(img, ul, li) {
                /* Margin on everything except img */
                // margin: 55px 0 0 0;
                padding: 0 15px;
            }

            h3 {
                font-size: 20px;
            }

            ul {
                margin-top: 10px;
                padding-inline-start: 20px;
            }

            p,
            li {
                font-size: 14px;
            }

            img {
                margin: 0;
                max-width: 100%;
                height: auto;
                display: block;
            }


        }
    }

    .container.main,
    .container-fluid.main {
        img.responsive {
            width: 100%;
            height: auto;
        }

        .gutter {
            .row {
                margin-left: -10px;
                margin-right: -10px;
            }

            .col,
            [class*="col-"] {
                padding-right: 10px;
                padding-left: 10px;
                padding: 10px;
            }
        }

        .row.no-pad {
            margin-right: 0;
            margin-left: 0;
        }

        .row.no-pad>[class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 600px) {

        .mobile-sticky .page-main {
            margin-top: 0;
        }

        .landing-page {
            padding-top: 60px !important;
        }

        .banner {
            padding-top: 48vw;
            padding-bottom: 48vw;
        }

        .banner .container::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }

    @media only screen and (max-width: 991px) {
        .grid-container {
            grid-template-columns: 1fr !important;
        }

        .span-2-col {
            grid-column: auto / span 1;
        }
    }
}